
@media screen and (min-width: 0px) and (max-width: 500px){
 	
 	img{
 		width:100%;
  	}
 	h1{
 		margin-left: 4px;
 	}
 	center{
 		text-align: justify;
 	}
 	div id{
 		font-size: 25px;
 	}
}
