
@media screen and (min-width: 0px) and (max-width: 600px){
 	
 	img{
 		width:100%;
  	}
 	h1{
 		margin-left: 4px;
   font-size: 25px;
 	}

 	center{
 		text-align: justify;
 	}
 	#menu ul li a{
 		font-size: 40px;
 	}
 .fb-comments{
  max-width: 100vw;
  font-size: 40px;
 }
}


